:root {
    /*Gray*/
    --black: 0, 0, 0;
    --white: 255, 255, 255;
    --gray-0: var(--black);
    --gray-10: 25, 25, 25;
    --gray-20: 51, 51, 51;
    --gray-30: 76, 76, 76;
    --gray-40: 102, 102, 102;
    --gray-50: 127, 127, 127;
    --gray-60: 153, 153, 153;
    --gray-70: 178, 178, 178;
    --gray-80: 204, 204, 204;
    --gray-90: 229, 229, 229;
    --gray-100: var(--white);
    /*Blue*/
    --blue-0: 0, 16, 41;
    --blue-10: 0, 35, 87;
    --blue-20: 0, 51, 128;
    --blue-30: 0, 68, 170;
    --blue-40: 0, 85, 212;
    --blue-50: 0, 102, 255;
    --blue-60: 42, 127, 255;
    --blue-70: 85, 153, 255;
    --blue-80: 128, 179, 255;
    --blue-90: 170, 204, 255;
    --blue-100: 213, 229, 255;
    /*Accent (Blue)*/
    --accent-0: 0, 17, 43;
    --accent-10: 0, 34, 85;
    --accent-20: 0, 51, 128;
    --accent-30: 0, 68, 170;
    --accent-40: 0, 85, 212;
    --accent-50: 0, 102, 255;
    --accent-60: 42, 127, 255;
    --accent-70: 85, 153, 255;
    --accent-80: 128, 179, 255;
    --accent-90: 170, 204, 255;
    --accent-100: 213, 229, 255;
    /*Green*/
    --green-0: 17, 43, 0;
    --green-10: 34, 85, 0;
    --green-20: 51, 128, 0;
    --green-30: 68, 170, 0;
    --green-40: 85, 212, 0;
    --green-50: 102, 255, 0;
    --green-60: 127, 255, 42;
    --green-70: 153, 255, 85;
    --green-80: 179, 255, 128;
    --green-90: 204, 255, 170;
    --green-100: 229, 255, 213;
    /*Red*/
    --red-0: 43, 0, 0;
    --red-10: 85, 0, 0;
    --red-20: 128, 0, 0;
    --red-30: 170, 0, 0;
    --red-40: 212, 0, 0;
    --red-50: 255, 0, 0;
    --red-60: 255, 42, 42;
    --red-70: 255, 85, 85;
    --red-80: 255, 128, 128;
    --red-90: 255, 170, 170;
    --red-100: 255, 213, 213;
    /*Yellow*/
    --yellow-0: 43, 43, 0;
    --yellow-10: 85, 85, 0;
    --yellow-20: 128, 128, 0;
    --yellow-30: 170, 170, 0;
    --yellow-40: 212, 212, 0;
    --yellow-50: 255, 255, 0;
    --yellow-60: 255, 255, 42;
    --yellow-70: 255, 255, 85;
    --yellow-80: 255, 255, 128;
    --yellow-90: 255, 255, 170;
    --yellow-100: 255, 255, 213;
    /*Magenta*/
    --magenta-0: 34, 0, 43;
    --magenta-10: 68, 0, 85;
    --magenta-20: 102, 0, 128;
    --magenta-30: 136, 0, 170;
    --magenta-40: 170, 0, 212;
    --magenta-50: 204, 0, 255;
    --magenta-60: 212, 42, 255;
    --magenta-70: 221, 85, 255;
    --magenta-80: 229, 128, 255;
    --magenta-90: 238, 170, 255;
    --magenta-100: 246, 213, 255;
}

html {
    min-height: 100%;
}

body {
    background: linear-gradient(135deg, rgb(var(--blue-50)), rgb(var(--blue-70)));
    font-family: 'Ubuntu', sans-serif;
    min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ubuntu', sans-serif;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

#page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-header>div>img,
#page-header>img {
    max-width: 4rem;
    border-style: outset;
    border-color: transparent;
    border-width: 1px;
}

#page-header>div>img:hover,
#page-header>img:hover {
    border-style: outset;
    border-color: rgb(var(--black));
    border-width: 1px;
}