body {
    background-color: #0066ff;
    font-family: 'Ubuntu', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ubuntu', sans-serif;
}

.center {
    margin-left: auto;
    margin-right: auto;
}