#main {
    width: 90%;
    text-align: center;
    max-width: 50rem;
    margin: auto;
}

#header {
    padding: 1rem;
    padding-bottom: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

#searchdiv {
    padding-left: 1rem;
    padding-right: 1rem;
}

#search {
    width: 100%;
}

#listname {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#list_container {
    cursor: pointer;
    padding: 1rem;
    font-size: 1rem;
}

#item-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#item-list>li {
    padding: 0.5rem;
    width: 100%;
}

.listElement {
    padding: 0.5rem;
    background-color: rgb(var(--blue-90));
    border-left: 10px solid;
}

.listElement:hover {
    background-color: rgb(var(--gray-80));
}

.element-summary {
    display: flex;
    flex-direction: row;
}

.element-name {
    text-align: left;
    font-weight: bold;
    width: 100%;
}

.element-quantity {
    font-weight: bold;
    text-align: right;
    color: rgb(var(--white));
    flex-shrink: 0;
}

.element-full-info {
    display: none;
    margin-top: 0.5rem;
}

.element-description {
    text-align: left;
    width: 100%;
}

.element-buttons {
    flex-shrink: 0;
    float: right;
}

.element-buttons>img {
    max-width: 2rem;
    height: auto;
    margin: 1px;
}

.element-buttons>img:hover {
    border-color: rgb(var(--black));
    border-style: outset;
    border-width: 1px;
    margin: 0px;
}